[include]
    path = ~/.git-personal.conf
[includeIf "gitdir:~/code/dropbase/"]
    path = ~/.git-work.conf
; [user]
;   name = HusseinElguindi
;   email = 34726859+HusseinElguindi@users.noreply.github.com
[core]
    autocrlf = false
    excludesfile = /Users/hussein/.gitignore_global
    pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true # Use n and N to move between diff sections.
    light = false # Set to `true` if you prefer light themes.
    side-by-side = true # Enables the side-by-side view.
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[pull]
    rebase = true
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) (%an)%Creset' --abbrev-commit
